<%= __("Bonjour {{username}},", { username: user.username}) %><br />

<% if (extraEdges > 1) { %>
    <%= __("Les {{extraEdges}} tranches que vous avez aidé à créer sur EdgeCreator sont maintenant visionnables dans votre bibliothèque DucksManager ainsi que dans les bibliothèques des autres utilisateurs possédant ces magazines.", {extraEdges}) %>
<% } else { %>
    <%= __("La tranche que vous avez aidé à créer sur EdgeCreator est maintenant visionnable dans votre bibliothèque DucksManager ainsi que dans les bibliothèques des autres utilisateurs possédant ce magazine.") %>
<% } %>
<br />

<% if (newMedalLevel) { %>
<p style="text-align: center">
    <img width="100" src="<%= process.env.ASSETS_MEDALS_PICTURES_ROOT %>edge_designer_<%= newMedalLevel %>_<%= locale %>.png" />
    <br />
    <%= __("Vous avez remporté la médaille \"Créateur DucksManager {{medalLevel}}\" grâce à vos contributions !", {medalLevel: newMedalLevel}) %>
</p>
<% } %>
<br />
<%- __("<b>Votre contribution vous a rapporté {{extraCreatorPoints}} points \"Créateur\"</b>, bravo à vous et merci pour votre contribution : nous sommes heureux de vous compter parmi la communauté active de DucksManager !", {extraCreatorPoints}) %>

<%- include('../footer'); %>
