<br />
<br />
<%= __('A bientôt sur le site !') %><br />
<a href="https://ducksmanager.net"><img width="400" src="<%= process.env.VITE_IMAGES_ROOT %>logo_small.png" /></a>
<br />
<%= __('Retrouvez-nous sur les réseaux sociaux :') %><br />
<a href="https://www.facebook.com/DucksManager"><img src="<%= process.env.VITE_IMAGES_ROOT %>icons/facebook.png" /></a>&nbsp;
<a href="https://www.instagram.com/ducksmanager"><img src="<%= process.env.VITE_IMAGES_ROOT %>icons/instagram.png" /></a>&nbsp;
<a href="https://discord.gg/z959xaejJm"><img src="<%= process.env.VITE_IMAGES_ROOT %>icons/discord.png" /></a>&nbsp;
<a href="https://www.youtube.com/user/ducksmanager"><img src="<%= process.env.VITE_IMAGES_ROOT %>icons/youtube.png" /></a>
