<% for (const decision of ['approve', 'refuse'] ) { %>
    <a href="<%= process.env.WEBSITE_ROOT %>/admin/presentationSentence/<%= decision %>/?userId=<%= user.id %>&sentence=<%= encodeURIComponent(sentence) %>"><%= decision %>%></a>
<% } %>
