<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <script type="text/javascript">
        window.locale = "{{ app.request.locale }}"
        window.l10nUrl = "{{ asset('build/translations/messages.'~app.request.locale~'.yaml') }}"
        window.imagePath = "{{ asset('build/images/logo_small.png') | replace({'/logo_small.png': ''}) }}"
        window.username = "{{ app.request.cookies.get('dm-user') }}"
    </script>

    <div id="app" {% for key, value in vueProps %}{{ key }}="{{ value }}"{% endfor %}>
        {% block content %}{% endblock %}
    </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
